<!-- //client -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src='socket.io/socket.io.js'></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script>
        // goi len server
        var socket = io('http://localhost:3000')
        //khi trang load xong moi goi
        $(document).ready(function(){
            $('#mrA').click(()=>{
                // alert(1)
                //bien ket noi(tham so ket noi, du lieu truyen di)
                socket.emit('Client-send-data','Hello')
            });
        })

        //client lang nghe
        socket.on('Server-send-data',(data)=>{
            // console.log(data)
            $('#noidung').append(data+'.....')
        })
    </script>

</head>
<body>
    <h1>Trang chu</h1>
    <div id='mrA'>
        Click send
    </div>
    <h2 id='noidung'>
        
    </h2>
</body>
</html>