<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>Hello</h1>
    {{# each mangs}}
    {{# each this }}
    <div class="asd">
        Name : {{this.name}} <br>
        Price: {{this.price}} <br>
       
    </div>
    {{/each}}
     {{/each}}
    <br>
    

</body>

</html>