body{
    background-color:#ebeef4;
}
#wrapper{
    width:600px;
    margin:auto;
}
#left{
    width:30%;
    float: left;
    background-color: bisque;
}
#right{
    width:70%;
    float:right;
    background-color: cadetblue;
}
#boxTitle{
    border:solid 1px black;
    padding:5px;
    text-align: center;
    font-weight: bold;
}
#boxContent{
    border:solid 1px black;
    border-top:none;
    padding:5px;
}
#sayHi{
    text-align: right;
}
#listMessages{
    height:300px;
    background-color: #fcead4;
    margin-bottom: 15px;
}
#txtMessage{
    background-color: transparent;
    border: solid 1px black;

}