<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <title>Demo Chat</title>
    <!-- socket io -->
    <script src='socket.io/socket.io.js'>
    </script>
    <script src='xuly.js'> </script>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" type="text/css" href="layout.css" />
</head>

<body>
    <div id='wrapper'>
        <div id='loginForm'>
            <h3>What is your name?</h3>
            <input type='text' id='txtUsername'/>
            <input type='button'value='Register' id='btnRegister'/>
        </div>
        <div id='chatForm'>
            <div id='left'>
                <!-- ds nguoi online -->
                <div id='boxTitle'>User Online</div>
                <div id='boxContent'></div>
            </div>
            <div id='right'>
                <div id='sayHi'>
                    Hello <span id='currentUser'>Teo</span>
                    <input type='button'value='Logout' id='btnLogout'/>
                </div>

                <div id='listMessages'>
                </div>
                <input type='text' id='txtMessage'/>
                <input type='button' id='btnSendMessage' value='Send'/>
            </div>
        </div>
    </div>
</body>

</html>